@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
@import 'react-toastify/dist/ReactToastify.css';





@layer components {



    .my-custom-style {

        @apply hover:dark:bg-slate-500 flex items-center hover:bg-slate-200 rounded-[4.8px] p-3 border-gray-800 dark:border-gray-100 ltr:hover:border-r-4 rtl:hover:border-l-4 transition duration-100 ease-in-out;

    }

    .color-white {

        color: white
    }



    .active {

        @apply left-0
    }

    .nactive {

        @apply left-[-240px]
    }

    .rtlactive {

        @apply right-0
    }

    .rtlnactive {

        @apply right-[-240px]
    }
}



.image-gallery-thumbnails-container {

    @apply grid grid-cols-3 sm:grid-cols-5 h-56 justify-center overflow-x-hidden overflow-y-auto;

}

.image-gallery-thumbnail {

    @apply w-auto h-20 overflow-hidden rounded-xl flex justify-center items-center;
}

@media screen and (display-mode: standalone) {

    :root,
    body {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-text-size-adjust: none;

      
    }
}



:root {
    --background: white;
    --foreground: rgb(155, 155, 155);
    @apply bg-slate-50
}

[data-theme='dark'] {
    --background: dark;
    --foreground: rgb(29, 29, 28);
    @apply bg-[#181A1B];

    /* background-color: #181A1B; */
}


/* body {

    overflow-x: hidden;
    font-family: 'Abyssinica SIL', serif;


} */